@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Padauk:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.heading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;

}

.logo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.btn-text {
  font-family: 'Padauk', sans-serif;
  font-family: 700;
  font-size: 18px;

}

.para {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

#choose {
  background: linear-gradient(224deg, #2D83DE 0%, #063C75 33.33%, #063C75 100%);
}

footer {
  background: linear-gradient(180deg, #063C75 0%, rgba(9, 77, 148, 0.73) 100%);
}

.footer-logo,
.logo {
  position: relative;
  width: fit-content;
}

.footer-logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -32%;
  width: 180%;

  height: 1px;
  background: #04376D;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 20%;
  width: 65%;

  height: 1px;
  background: #04376D;
}
.react-multi-carousel-dot>button{
  /* color: red !important; */
  background-color: transparent !important;
  border:1px solid rgb(75, 73, 73) !important;
  
} 
.react-multi-carousel-dot--active>button{
  background-color: #063C75 !important;
  width: 15px !important;
  height: 15px !important;

}
.react-multi-carousel-dot{
  padding: 0 10px !important;
  margin-top: 80px !important;
}
